.env
TODO
config/jbot/jbot.json

# Keep these directories in git while ignoring their runtime contents.
config/jdownloader/**
!config/jdownloader/.gitkeep
config/firefox/**
!config/firefox/.gitkeep

__pycache__/
*.pyc
*.pyo
*.pyd